<!doctype html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title><%= t('.sign_in') %></title>
  <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="text-center">
  <div class="fixed-top">
    <%= render '/shared/environment_description' %>
  </div>
  <div class="form-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <img class="mb-4" src="\logo.png" alt="logo">
    <h1 class="h3 mb-3 font-weight-normal">
      Autenticación
    </h1>
    <%= f.label :email, 'Email address', class: 'sr-only' %>
    <%= f.email_field :email, autofocus: true, required: true, autocomplete: 'email', placeholder: 'Email address', class: 'form-control' %>
    <%= f.label :password, 'Password', class: 'sr-only' %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', required: true, placeholder: 'Password' %>

    <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>
    <%= f.submit t('.sign_in'), class: 'btn btn-lg btn-primary btn-block' %>
    <p class="mt-5 mb-3 text-muted"></p>
    <% end %>
  </div>
</body>
</html>
