<!doctype html>
<html lang="en">

<head>
  <title>Edisonenergia</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">
      <img class="logo d-inline-block align-top" src="\logo.png" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
      </ul>

       <%= render '/shared/environment_description' %>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href=""><%= current_user.email %></a>
        </li>
        <li class="nav-item">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'nav-link active' %>
        </li>
      </ul>

    </div>
  </nav>

  <main role="main" class="container">

    <div class="main">
      <%= yield %>
    </div>

  </main><!-- /.container -->
</body>

</html>
